---
s3_bucket: example-fluent-redshift
s3_path: redshift/
redshift_host: demo.abc123456789.ap-northeast-1.redshift.amazonaws.com
redshift_port: 5439
redshift_dbname: logs
redshift_user: oreore
redshift_password: ore-no-password
redshift_tablename: messages
